style "compact-toolbar" {
	font_name="Liberation 9"
	GtkToolbar::internal-padding=0
	xthickness=1
	ythickness=1
}

style "compact-button" {
	xthickness=0
	ythickness=0
}

class "GtkWidget" style "compact-toolbar"
widget_class "*<GtkToolbar>*<GtkButton>" style "compact-button"
